body
{
   margin: 0;
   padding: 0;
   background-color:#ffe6f2;
}

h1
{
   background: linear-gradient(to bottom, #cc66ff 0%, #ff99cc 50%, #ff3399 100%);
   color: rgb(255, 255, 255);
   text-align : center;
   margin: 0;
   padding: 20px;
}

h2
{
   color: #ffffff;
   font-family: 'Times New Roman', Times, serif;
   text-align : center;
   margin: 0;
   padding: 10px;
}

h3
{
   color: #ffffff;
   font-family: 'Times New Roman', Times, serif;
   text-align : center;
   margin: 0;
   padding: 10px;
}

p
{
   color: #ffffff;
   font-family: 'Times New Roman', Times, serif;
   text-align : center;
   margin: 0;
   padding: 10px;
}

li
{
   color: #ffffff;
   font-family: 'Times New Roman', Times, serif;
   margin: 0;
}

.conteudo
{
    background-color:  #ff99cc;
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    border-radius: 10px;
}

.conteudo a 
{
    color:#600c89;
    text-decoration: none;
}

input[type=text]
{
   box-sizing: border-box;
   width: 50%;
   padding: 5px;
   font-size: 20px;
}

input[type=button]
{
  width: 200px;
  padding: 5px;
  font-size: 20px;
  background-color: white;
}
